#articulos-catalogo .card, #catalogo-mas .card {
  margin: 5px;
  width: 18rem;
}

/* ARTICLE */
.destacados {
  width: 30rem;
  margin: 1px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.destacados:hover {
  opacity: 0.85;
}

.portada {
  width: 39rem;
  margin: 1px;
}

.galeria {
  font-size: 3rem;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__h1 {
  color: #EE008C;
}

.main__h2 {
  color: #c40172;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1020;
}

.login {
  border: dotted #222222;
  padding: 15px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 30px;
}

.login a {
  color: #EE008C;
}

.login:hover {
  color: black;
}

#ayuda__pagina h2 {
  color: #c40172;
}

#ayuda__pagina h3 {
  color: #b11b90;
}

.error__icono {
  font-size: 10rem;
}

.btn-rosa {
  color: #fff;
  background-color: #EE008C;
  border-color: #EE008C;
}

.btn-rosaFuerte {
  color: #fff;
  background-color: #c40172;
  border-color: #c40172;
}

.btn-salmon {
  color: #fff;
  background-color: #ED7C75;
  border-color: #ED7C75;
}

.btn-rosa:hover {
  color: #fff;
  background-color: rgba(238, 0, 140, 0.85);
  border-color: rgba(238, 0, 140, 0.85);
}

.btn-outline-rosa {
  color: #EE008C;
  border-color: #EE008C;
}

.btn-outline-rosa:hover {
  background-color: #EE008C;
  color: #fff;
}

.btn-outline-rosaFuerte {
  color: #c40172;
  border-color: #c40172;
}

.btn-outline-rosaFuerte:hover {
  background-color: #c40172;
  color: #fff;
}

.btn-outline-salmon {
  color: #ED7C75;
  border-color: #ED7C75;
}

.btn-outline-salmon:hover {
  background-color: #ED7C75;
  color: #fff;
}

header {
  background-color: white;
}

.header__logo {
  height: 15rem;
}

footer {
  background-color: white;
}

.flexFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.backToTop {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.whatsapp {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.footer__iconos {
  font-size: 3rem;
}

.footer__iconos:hover {
  color: black;
}

#footer__primer-fila a {
  --bs-text-opacity: 1;
  color: #6c757d;
}

#footer__primer-fila a:hover {
  color: black;
}

#footer__primer-fila p {
  --bs-text-opacity: 1;
  color: #6c757d;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

body {
  background-image: url(../images/fondo.png);
  background-color: #fff;
  font-size: 1.8rem;
  font-family: montserrat;
  line-height: 1.3;
  color: #222222;
}

a {
  text-decoration: none;
  color: #222222;
}

a:hover {
  color: black;
}

h1, h2, h3, h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
}
/*# sourceMappingURL=estilos.css.map */