$rosa-main: #EE008C;
$rosa-second: #c40172;
$rosa-third: rgb(177, 27, 144);
$rosa-main--hover: rgba(238, 0, 140, 0.85);
$salmon: #ED7C75;
$salmon-second: #FEDEDE; 
$gris: #6c757d;
$gris-claro: #F8F9FA;
$cyan: #0dcaf0;