#accordionFlushExample {
    p {
        color: $gris;
    }
    a {
        text-decoration: underline;
    }
}

.accordion-button {
    font-size: 1.9rem;
    padding: 20px;
}

#accordionFlushExample .accordion-body, #accordionFlushExample .list-group-item{
    background-color: $gris-claro;
}
