@mixin carrusel {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @media (max-width: 767.98px) {
        background-position: center;
    }
}

@mixin secciones {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    background-position-x: center;
    @media (min-width: 992px) and (orientation: landscape) {
        background-size: 100%;
    }
}

// ----------- //


/* Carrusel */

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


.carousel-item {
    height: 78.2vh;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

// Carrusel imágenes

.foto {
    @include carrusel;
    background-image: url("../images/main1.jpg");
}

.foto1 {
    @include carrusel;
    background-image: url("../images/main.jpg");
}

.foto2 {
    @include carrusel;
    background-image: url("../images/main2.jpg");
}

#myCarousel svg {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

.carousel-caption {
    bottom: 12rem;
    @media (max-width: 991.98px) and (orientation: landscape) {
        bottom: 1rem;
    }
}

.xs {
    @media (max-width: 350px) {
        right: 2.5rem;
        position: relative;
    }
}

.lg-hide-down {
    @media (max-width: 991.98px) {
        display: none;
    }
}

.lg-hide-up {
    @media (min-width: 992px) {
        display: none;
    }
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        flex: 1;
    }
}

.pantalla-negra {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.1);
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hombre {
    @include secciones;
    background-image: url("../images/index-man.jpg");
    background-position-x: 28%;
    @media (min-width: 992px) and (orientation: landscape) {
        background-size: 160%;
    }
    @media (min-width: 1200px) and (orientation: landscape) {
        background-size: 136%;
    }
}

.mujer {
    @include secciones;
    background-image: url("../images/index-woman.jpg");
}

.niños {
    @include secciones;
    background-image: url("../images/index-kids.jpg");
}

.deportivo {
    @include secciones;
    background-image: url("../images/index-deportivo1.jpg");
}

.calzado {
    @include secciones;
    background-image: url("../images/index-calzado.jpg");
    background-position: center;
    @media (min-width: 992px) and (orientation: landscape){
        background-size: 120%;
    }
    @media (min-width: 1200px) and (orientation: landscape){
        background-size: 102%;
    }
}

.secciones {
    height: 80vh;
}

@media (min-width: 992px) and (orientation: landscape) {
    .secciones:hover{
        background-size: 110%;
        &.hombre {
            background-size: 170%;
        }
        &.calzado {
            background-size: 130%;
        }
    }
}

@media (min-width: 1200px) and (orientation: landscape) {
    .secciones:hover{
        background-size: 110%;
        &.hombre {
            background-size: 146%;
        }
        &.calzado {
            background-size: 112%;
        }
    }
}