@mixin carrusel {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @media (max-width: 767.98px) {
        background-position: center;
    }
}

// ----------- //

.destacados {
    width: 30rem;
    margin: 1px;
    transition: width 0.3s;
        &:hover {
        opacity: 0.85;
        }
}

.portada {
    width: 39px;
    height: 70vh;
}

.galeria {
    font-size: 3rem;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main__h1 {
    color: $rosa-main
}

.main__h2 {
    color: $rosa-second
}

.sticky-bottom {
    position: -webkit-sticky;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1020;
}

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 78.2vh;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

// Carrusel imágenes

.foto {
    @include carrusel;
    background-image: url("../images/main1.jpg");
}

.foto1 {
    @include carrusel;
    background-image: url("../images/main.jpg");
}

.foto2 {
    @include carrusel;
    background-image: url("../images/main2.jpg");
}

#myCarousel svg {
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.3);
}

.carousel-caption {
    bottom: 12rem;
    @media (max-width: 991.98px) and (orientation: landscape) {
        bottom: 1rem;
    }
}

.xs {
    @media (max-width: 350px) {
        right: 2.5rem;
        position: relative;
    }
}

.md-hide-down {
    @media (max-width: 767.98px) {
        display: none;
    }
}

.md-hide-up {
    @media (min-width: 767.98px) {
        display: none;
    }
}