//VARIABLES

@mixin botones ($bg, $border) {
    color: #fff;
    background-color: $bg;
    border-color: $border;
}

@mixin botones-outline ($c, $border) {
    color: $c;
    border-color: $border;
    background: #fff;
}

@mixin botones-outline-hover ($bg) {
    background-color: $bg;
    color: #fff;
}

$tema-colores:(
    rosa: $rosa-main,
    rosaFuerte: $rosa-second,
    salmon: $salmon,
);

$tema-colores-hover:(
    rosa: $rosa-main--hover,
);

//BOTONES NORMALES

@each $color, $valor in $tema-colores {
    .btn-#{$color} {
        @include botones($valor, $valor)
    }
    .btn-#{$color}:hover {
        @include botones-outline($valor, $valor)
    }
}

.btn-dark {
    &:hover {
        color: #000;
        background-color: #fff;
    }
}

.btn-info:hover{
    color: $cyan;
    background-color: #fff;
}

//BOTONES BORDEADOS

@each $color, $valor in $tema-colores {
    .btn-outline-#{$color} {
        @include botones-outline($valor, $valor)
    }
    .btn-outline-#{$color}:hover {
        @include botones-outline-hover($valor)
    }
}
