footer {
    background-color: white;
    box-shadow: 0px 10px 18px 10px #adb5bd;
}

.flexFooter {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.backToTop {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.whatsapp {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

.footer__iconos {
    font-size: 3rem;
    &:hover {
        color: black;
    }
}

#footer__primer-fila{
    a{
        color: $gris;
        &:hover{
            color:black;
        }
    }
    p{
        color: $gris;
    }
}